USE [master]
GO
/****** Object:  Database [dicriDB]    Script Date: 24/11/2025 07:45:33 ******/
CREATE DATABASE [dicriDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dicriDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\dicriDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dicriDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\dicriDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dicriDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dicriDB]
GO
/****** Object:  Table [dbo].[Expedientes]    Script Date: 24/11/2025 07:45:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Expedientes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[numero_expediente] [varchar](100) NOT NULL,
	[fecha_registro] [datetime] NOT NULL,
	[tecnico_id] [int] NOT NULL,
	[estado] [varchar](50) NULL,
	[justificacion_rechazo] [varchar](1000) NULL,
	[actualizado_en] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Indicios]    Script Date: 24/11/2025 07:45:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Indicios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[expediente_id] [int] NOT NULL,
	[descripcion] [varchar](500) NULL,
	[color] [varchar](50) NULL,
	[tamano] [varchar](50) NULL,
	[peso] [decimal](10, 2) NULL,
	[ubicacion] [varchar](200) NULL,
	[tecnico_id] [int] NULL,
	[creado_en] [datetime] NULL,
	[tipo] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 24/11/2025 07:45:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](100) NOT NULL,
	[passwordHash] [varchar](256) NOT NULL,
	[nombre] [varchar](150) NULL,
	[apellido] [varchar](150) NULL,
	[role] [varchar](50) NULL,
	[creado_en] [datetime] NULL,
	[activo] [bit] NOT NULL,
	[email] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Expedientes] ADD  DEFAULT ('CREADO') FOR [estado]
GO
ALTER TABLE [dbo].[Expedientes] ADD  DEFAULT (getdate()) FOR [actualizado_en]
GO
ALTER TABLE [dbo].[Indicios] ADD  DEFAULT (getdate()) FOR [creado_en]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (getdate()) FOR [creado_en]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Indicios]  WITH CHECK ADD  CONSTRAINT [FK_Indicios_Expedientes] FOREIGN KEY([expediente_id])
REFERENCES [dbo].[Expedientes] ([id])
GO
ALTER TABLE [dbo].[Indicios] CHECK CONSTRAINT [FK_Indicios_Expedientes]
GO
ALTER TABLE [dbo].[Indicios]  WITH CHECK ADD  CONSTRAINT [FK_Indicios_Usuarios] FOREIGN KEY([tecnico_id])
REFERENCES [dbo].[Usuarios] ([id])
GO
ALTER TABLE [dbo].[Indicios] CHECK CONSTRAINT [FK_Indicios_Usuarios]
GO
/****** Object:  StoredProcedure [dbo].[SPD_GENERIC]    Script Date: 24/11/2025 07:45:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Marvin Illu>
-- Create date: <Create Date,2025-11-22,>
-- Description:	<Description,,procediemiento que elimina reistros de la tabla y por id especifico>
-- =============================================
CREATE PROCEDURE [dbo].[SPD_GENERIC] (@id INT = 0, @TableName NVARCHAR(128) )
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- Declarar una variable para la consulta SQL dinámica
    DECLARE @SQLQuery NVARCHAR(MAX);

    -- Insert statements for procedure here
	
	SET @SQLQuery = N'DELETE FROM dbo.' + QUOTENAME(@TableName) + N' WHERE id =  @id';
	

	EXECUTE sp_executesql @SQLQuery, N'@id INT', @id = @id;
END
GO
/****** Object:  StoredProcedure [dbo].[SPIU_EXPEDIENTES]    Script Date: 24/11/2025 07:45:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Marvin Illu>
-- Create date: <Create Date,2025-11-23,>
-- Description:	<Description,,Actualiza o inserta los registros en la tabla expedientes>
-- =============================================
CREATE PROCEDURE [dbo].[SPIU_EXPEDIENTES](@id INT = 0, @numero_expediente varchar(100)
           ,@tecnico_id int
           ,@estado varchar(50)
           ,@justificacion_rechazo varchar(1000))
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here

	IF (@id > 0)
		BEGIN
			UPDATE Expedientes
			   SET numero_expediente = @numero_expediente
				  ,tecnico_id = @tecnico_id
				  ,estado = @estado
				  ,justificacion_rechazo = @justificacion_rechazo
				  ,actualizado_en = GETDATE()
			WHERE id = @id;
			
			--SELECT id, descripcion, estado FROM tipo_indicio WHERE id = @id;
		END
	ELSE
		BEGIN
			INSERT INTO Expedientes
					   (numero_expediente
					   ,fecha_registro
					   ,tecnico_id
					   ,estado
					   ,justificacion_rechazo)
				 VALUES
					   (@numero_expediente
					   ,GETDATE()
					   ,@tecnico_id
					   ,@estado
					   ,@justificacion_rechazo);

			SELECT SCOPE_IDENTITY() AS id;
		END
	
END
GO
/****** Object:  StoredProcedure [dbo].[SPIU_INDICIOS]    Script Date: 24/11/2025 07:45:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Marvin Daniel Illú García>
-- Create date: <Create Date,2025-1123,>
-- Description:	<Description,Agrega o actuliza la tabla Indicios,>
-- =============================================
CREATE PROCEDURE [dbo].[SPIU_INDICIOS] (@id INT = 0, @expediente_id int
           , @descripcion varchar(500)
           , @color varchar(50)
           , @tamano varchar(50)
           , @peso decimal(10,2)
           , @ubicacion varchar(200)
           , @tecnico_id int
		   , @tipo VARCHAR(20))
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF (@id > 0)
		BEGIN
			UPDATE Indicios 
			   SET  expediente_id  =  @expediente_id
				  , descripcion  =  @descripcion
				  , color  =  @color
				  , tamano  =  @tamano
				  , peso  =  @peso
				  , ubicacion  =  @ubicacion
				  , tecnico_id  =  @tecnico_id
				  , tipo = @tipo
				  , creado_en  =   GETDATE()
			WHERE id = @id;
		END
	ELSE
		BEGIN
			INSERT INTO   Indicios 
           ( expediente_id 
           , descripcion 
           , color 
           , tamano 
           , peso 
           , ubicacion 
           , tecnico_id 
		   , tipo
           , creado_en )
     VALUES
           ( @expediente_id
           , @descripcion
           , @color
           , @tamano
           , @peso
           , @ubicacion
           , @tecnico_id
		   , @tipo
           , GETDATE());

			SELECT SCOPE_IDENTITY() AS id;
		END
END
GO
/****** Object:  StoredProcedure [dbo].[SPS_GENERIC]    Script Date: 24/11/2025 07:45:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Marvin Illu>
-- Create date: <Create Date,2025-11-22,>
-- Description:	<Description,,procediemiento que lista los datos de la tabla y por id especifico>
-- =============================================
CREATE PROCEDURE [dbo].[SPS_GENERIC] (@id INT = 0, @TableName NVARCHAR(128) )
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- Declarar una variable para la consulta SQL dinámica
    DECLARE @SQLQuery NVARCHAR(MAX);

    -- Insert statements for procedure here
	IF (@id > 0)
		BEGIN
			SET @SQLQuery = N'SELECT * FROM dbo.' + QUOTENAME(@TableName) + N' WHERE id =  @id';
			--SELECT id, descripcion, estado FROM tipo_indicio WHERE id = @id;
		END
	ELSE
		BEGIN
			SET @SQLQuery = N'SELECT * FROM dbo.' + QUOTENAME(@TableName);
		END

	 EXECUTE sp_executesql @SQLQuery, N'@id INT', @id = @id;
END
GO
/****** Object:  StoredProcedure [dbo].[SPS_INDICIOS]    Script Date: 24/11/2025 07:45:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Marvin Illu>
-- Create date: <Create Date,,2025-11-24>
-- Description:	<Description,,Obtiene los indicios por expediente_id>
-- =============================================
CREATE PROCEDURE [dbo].[SPS_INDICIOS] (@expediente_id INT)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM Indicios WHERE expediente_id = @expediente_id;
END
GO
/****** Object:  StoredProcedure [dbo].[SPS_USUARIOS]    Script Date: 24/11/2025 07:45:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Marvin Illú>
-- Create date: <Create Date,20251123,>
-- Description:	<Description,,Buscar usuario>
-- =============================================
CREATE PROCEDURE [dbo].[SPS_USUARIOS] @username VARCHAR(100)
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT DISTINCT * FROM Usuarios
		WHERE username = @username
			AND activo = 1;
END
GO
USE [master]
GO
